@use './mixin' as *;
@use './variables' as *;

#container_card {
    background-color: $base-dark-color ;
    width: 100%;
    height: auto;
    padding: 2rem;
}

.card_pokemon {
    min-width: 200px;
    width: 100%;
    height: auto;
    padding: 1rem;
    border-radius: 12px;
}

.card_picture {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    div {
        width: 100%;
        background-color: red;
        padding: 1rem 2rem 1rem 2rem;
       
    }
}

.card_name_pokemon {
    display: flex;
    flex-direction: row; 
    border-top-left-radius: 12px;
    border-top-right-radius:12px ;
}

.card_stats_pokemon {
    display: flex;
    flex-direction: row;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}


.card_image{
    display: flex;
    justify-content: center;
    img{
        width: 50%;

    }
}


.card_data_pokemon{
    #title_pokemon{
        font-size: 80px;
    }

    sub{
        font-size: 22px;
        line-height: 22px;
    }

    .stats_data{
        font-size: 25px;
        padding-top: 20px;
        li{
            padding-top: 15px;
        }

        .data_habilities{
            li{
               padding-left: 12px;
            }
        }
    }
}



@include media(phone-only) {
    .card_name_pokemon {
       
        flex-direction:column-reverse; 
        
    }

    .card_image{
        
        justify-content: center;
        
    }

    .card_data_pokemon{
        text-align: center;
        #title_pokemon{
            font-size: 22px;
           
        }
    }

}



